body {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('res/rome.jpg');
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: white;
    font-size: 30px;
    text-shadow: 1px 1px 4px black;
    display: none;
}

.title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 30px;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

h3 {
    font-family: 'Playfair Display', serif;
    margin: 0px;
}

p {
    font-weight: 300;
}

header {
    height: 80px;
    margin: 30px;
    width: 95%;
    max-width: 2000px;
    transition: 0.5s;
    border-radius: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 5;
}

nav {
    font-size: 0.875em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    width: max-content;
    margin: 0px 20px;
    padding: 10px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}

nav a:hover, .act {
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.5);
}

#menu {
    display: none;
}

#menu-btn {
    color: white;
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 100%;
    display: none;
}

.btn {
    transition: 0.3s;
    color: white;
    text-shadow: 1px 1px 4px #000000;
    padding: 10px;
    background-color: #ECB800;
    border-radius: 300px;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: red;
}

.logo {
    width: 80px;
    padding: 10px;
    top: 100px;
}

main {
    max-width: 2000px;
}

.logo-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

#home {
    background: rgba(0,0,0,0.4);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white
}

.cta {
    font-size: 50px;
    text-shadow: 1px 1px 4px #000000;
    margin: 120px 20px 50px 20px;
}

#home section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home p {
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 4px #000000;
}

#home p:last-child {
    max-width: 80%;
    margin: 10px auto 50px auto;
}

.transparent-bg {
    background: rgba(0,0,0,0.4);
}

#about {
    background-color: white;
    text-align: center;
    position: relative;
}

#partners {
    background-color: lightgray;
    margin-top: 100px;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    background-image: url("res/banners.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 115px;
}

section#partners img {
    height: 100%;
    max-height: 50px;
    width: auto;
    padding: 40px;
}

#about h2 {
    color: black;
}



#about img {
    width: 100%;
    min-width: 200px;
    max-width: 400px;
}

#menu-content {
    display: none;
}

.description-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
    margin: 0px 20px;
}

.description-container > section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    gap: 20px;
}

.description-container p {
    text-indent: 40px;
    text-align: justify;
    max-width: 500px;
}

/*for responsive*/
@media (max-width: 1100px) {
    h1 {
        display: none;
    }

    nav a {
        margin: 10px;
    }
}

#destinations {
    padding-top: 130px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.slideshow h2 {
    text-align: center;
    font-size: 50px;
    margin: 10px;
}

.slideshow {
    color: white;
    border-radius: 50px;
    width: 90%;
    height: 475px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 10px black;
    text-shadow: 1px 1px 4px black;
    background-image: url(res/colosseum.jpg);
    background-position: center;
    background-size: 100% 100%;
    animation: slider 20s infinite linear;
    z-index: 2;
    position: absolute;
    top: -50px;
}

#package {
    padding-top: 500px;
    padding-bottom: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: linear-gradient(to bottom, white, lightgray, gray, lightgray, gray, lightgray, black);
    color: white;
    text-align: center;
    text-shadow: 1px 1px 4px #000000;
}

#package > p.title {
    margin: 30px 20px;
}

#package > p:nth-child(2) {
    font-size: 50px;
}

#package > p:nth-child(3) {
    max-width: 1000px;
    margin: 0px 20px 40px 20px;
    font-size: 15px;
    font-weight: bold;
}

#package img {
    width: 100%;
    max-width: 450px;
    min-width: 100px;
    border-radius: 50px;
}

.travel-container {
    margin: 0px 20px;
    display: flex;
    height: 400px;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: 20px;
}

.travel-container:nth-child(even) {
    flex-direction: row-reverse;
}

.travel-container section:first-child p {
    width: 100%;
    max-width: 450px;
    min-width: 10px;
}

.travel-container section:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: first baseline;
    width: 0px;
    height: 100%;
    max-height: 500px;
    border: 2px solid #ECB800;
    padding: 0;
}

.travel-container section:nth-child(2) p{
    margin: 0px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #ECB800;
    padding: 17px 25px;
    color: black;
    text-shadow: 1px 1px 4px white;
}

footer i {
    font-size: 30px;
}

footer {
    padding: 10px 0px;
    background-color: black;
    width: 100%;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

footer p {
    font-size: 15px;
}

footer section:not(:last-child) p:first-child {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    text-shadow: 1px 1px 4px black;
}

footer > section, footer > p {
    margin: 20px;
}

#contact {
    display: flex;
    justify-content: space-around;
    align-items: first baseline;
    flex-wrap: wrap;
    gap: 20px
}

#contact > section:first-child p {
    max-width: 200px;
}

hr {
    margin-top: 40px;
    width: 97%;
}

#contact > section{
    display: flex;
    flex-direction: column;
    gap: 10px
}

footer > section:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

footer a:hover {
    font-size: 16px;
    text-shadow: 5px 5px 5px white;
}

input {
    border-radius: 20px;
    padding: 10px;
}

.form {
    font-size: 10px;
    z-index: 8;
    position: fixed;
    color: white;
    background: rgba(0,0,0,0.75);
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s;
}

.close {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 6;
    font-size: 20px;
}

.close:hover {
    text-shadow: 1px 1px 5px white;
}

.close input {
    display: none;
}

.form input {
    font-size: 10px;
    border-radius: 10px;
}

.form label {
    padding-left: 5px;
}

.form > section:first-child {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 70%;
    max-width: 300px;
    background-color: black;
    border-radius: 50px;
    gap: 10px;
}

form {
    width: 100%;
    max-width: 300px;
}

form > section:first-child {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

form > section > section {
    display: flex;
    width: 25%;
    flex-direction: column;
    flex: 1 1 0;
}

#agree {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#message {
    font-size: 10px;
    padding: 10px;
    border-radius: 10px;
    resize: none;
}

form > section:not(:first-child) {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}


@keyframes slider {
    0% {
        background-image: url("res/colosseum.jpg");
    }
    33% {
        background-image: url("res//trevi.jpg");
    }

    66% {
        background-image: url("res/doge.jpg");
    }
}

@media (max-width: 850px) {

    #menu-btn {
        display: block;
    }

    #menu-content {
        display: none;
        position: fixed;
        top: 100px;
        flex-direction: column;
        align-items: end;
        z-index: -1;
        right: 10%;
    }

    nav section:first-child {
        display: none;
    }
    
    #menu-content a {
        background-color: #ECB800;
        color: white;
        transition: all 0.5s;
        text-shadow: 1px 1px 4px #000000;
        border-radius: 300px;
        box-shadow: 0px 0px 0px #000000;
    }

    #menu-content a:hover, .act, #menu-content a:first-child{
        text-shadow: 0 0 10px black;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        background-color: red;
    }

    #menu:checked ~ section {
        display: flex;
        animation-name: insert;
        animation-duration: 1s;
    }

    #menu:checked ~ #menu-btn {
        text-shadow: 0 0 10px black;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        background-color: red;
    }
}

@keyframes insert {
    from {
        top: 40px;
    }

    to {
        top: 100px;
    }
}