body {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('res/rome.jpg');
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-weight: 700;
    color: white;
    font-size: 30px;
    text-shadow: 1px 1px 4px black;
}

.title {
    font-weight: 700;
    font-size: 30px;
}

h2 {
    font-weight: 400;
}

p {
    font-weight: 300;
}

header {
    margin: 10px;
    width: 95%;
    max-width: 2000px;
    transition: 0.5s;
    border-radius: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
}

nav {
    font-size: 0.875em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    width: max-content;
    text-decoration: none;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    color: white;
}

nav a:hover, .act {
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.5);
}

#menu {
    display: none;
}

#menu-btn {
    color: white;
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 100%;
    display: none;
}

.btn {
    transition: 0.3s;
    color: white;
    text-shadow: 1px 1px 4px #000000;
    padding: 10px;
    background-color: #ECB800;
    border-radius: 300px;
    text-align: center;
}

.btn:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: red;
}

.logo {
    width: 50px;
    border-radius: 100%;
    padding: 10px;
    margin: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    top: 100px;
}

main {
    max-width: 2000px;
}

.logo-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

#home {
    background: rgba(0,0,0,0.4);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white
}

.cta {
    font-size: 50px;
    text-shadow: 1px 1px 4px #000000;
    margin: 120px 20px 50px 20px;
}

#home section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home p {
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 4px #000000;
}

#home p:last-child {
    max-width: 80%;
    margin: 10px auto 50px auto;
}

.transparent-bg {
    background: rgba(0,0,0,0.4);
}

#about {
    background-color: white;
    text-align: center;
    position: relative;
}

#partners {
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    background-image: url("res/banners.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-bottom: 30px;
    height: 150px;
}

#partners section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

section#partners img {
    height: 100%;
    max-height: 50px;
    width: auto;
}

#about h2 {
    color: black;
}

#about img {
    width: 100%;
    min-width: 200px;
    max-width: 400px;
    padding: 40px;
}

.description-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
}

.description-container > section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    margin: 20px
}

.description-container p {
    text-indent: 40px;
    text-align: justify;
    max-width: 500px;
}

/*for responsive*/
@media (max-width: 1100px) {
    h1 {
        display: none;
    }

    nav a {
        margin: 10px;
    }
}

@media (max-width: 850px) {
    nav a:not(:last-child) {
        display: none;
    }

    #menu-btn {
        display: block;
    }
}